body{
	/* width:1200px; */
	margin: 0px auto 0px auto;
}
a {
    color: blue;
    text-decoration: none;
}
    a:hover {
        color: red;
    }
    a:active {
        color: orange;
    }
	
/* 内容盒子 */
.box1200{
	width: 1180px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box960{
	width: 940px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box720{
	width: 700px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box600{
	width: 580px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box480{
	width: 460px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box360{
	width: 340px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box320{
	width: 300px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box300{
	width: 280px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box240{
	width: 220px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box160{
	width: 140px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box140{
	width: 120px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box120{
	width: 100px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}
.box80{
	width: 60px;
	float:left;
	margin: 10px 10px 10px 10px;
	height: auto;
}

/* 包含内容盒子的容器，比盒子大20px，因为margin值 */
.containAll{
	width: 100%;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain1200{
	width: 1200px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain960{
	width: 960px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain720{
	width: 720px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain600{
	width: 600px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain480{
	width: 480px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain360{
	width: 360px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain320{
	width: 320px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain300{
	width: 300px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain240{
	width: 240px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain160{
	width: 160px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain120{
	width: 120px;
	float:left;
	background-color:transparent;
	height: auto;
}
.contain80{
	width: 80px;
	float:left;
	background-color:transparent;
	height: auto;
}