
.containAll .center{
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.containAll .right{
	float: right;
}

.title{
	height: 50px;
	line-height: 50px;
	font-size: 22px;
}

.pictureTitle{
	height: 120px;
}

/* 右边的按钮 */

.rightButton{
	position: fixed;
	right: 0;
	height: 480px;
	width: 80px;
	top:50%;
	margin-top: -240px;
}
.rightButton .button{
	height: 80px;
	width: 80px;
	border: 2px solid black;
}

/* head */

#head{
	height: 40px;
	background-color: #333333;
}


#head .top_navi{
	width: auto;
	margin: 10px 3px;
}
#head .top_navi:first-child{
	margin-left: 10px;
}


/* navi */

#navi{
	
}

#navi #naviBigPicture div{
	background-color:transparent;
}

#navi .navi_top{
	height: 60px;
	margin: 20px 10px 5px 10px;
}

#navi #naviBigPicture{
	position: relative;
}
#navi .navi{
	height: 460px;
	margin: 20px 10px;
}
#navi .navi:first-child{
	position: absolute;
	background: rgba(105,101,101,0.6) !important;
	z-index: 3;
}
#navi .goodsList{
	position: absolute;
	right: 0px;
	z-index: 3;
}
#navi .goodsList .containBox{
	border: 1px solid #cccccc;
	background-color: white !important;
	height: 458px;
	box-shadow:5px 5px 10px #cccccc;
}
#navi .goodsList .containBox img{
	height: 40px;
	width: 40px;
	vertical-align: middle;
	margin-left: 10px;
}
#navi .goodsList .containBox div{
	height: 56px;
}
#navi .goodsList .containBox span{
	height: 56px;
	line-height: 56px;
	margin-left: 10px;
}
#navi .goodsList .containBox span:hover{
	color: #ff6700;
}

#navi .navi .goodsBreedList{
	list-style: none;
	padding: 0;
}
#navi .navi .goodsBreedList li{
	padding-left: 30px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: white;
}
#navi .navi .goodsBreedList li i{
	width: 14px;
	height: 14px;
	float: right;
	margin-right: 16px;
	margin-top: 14px;
}
.navi_active{
	cursor: pointer;
	background-color: #ff6700;
}

#navi .naviPicture{
	position: relative;
}
#navi .navi_leftBtn{
	position: absolute;
	left: 230px;
	top: 230px;
	height: 70px;
	width: 40px;
	margin-top: -35px;
	z-index: 3;
	background-image: url(../img/navi/icon-slides.png);
	background-position: -84px 0px;
	overflow: hidden;
}
#navi .navi_rightBtn{
	position: absolute;
	right: 10px;
	top: 230px;
	height: 70px;
	width: 40px;
	margin-top: -35px;
	z-index: 3;
	background-image: url(../img/navi/icon-slides.png);
	background-position: -124px 0px;
	overflow: hidden;
}
.navi_btnActive_left{
	cursor: pointer;
	background-image: url(../img/navi/icon-slides.png) !important;
	background-position: 0px 0px !important;
}
.navi_btnActive_right{
	cursor: pointer;
	background-image: url(../img/navi/icon-slides.png) !important;
	background-position: -42px 0px !important;
}

#navi .changePictureList{
	list-style: none;
	padding: 0;
	position: absolute;
	right: 100px;
	height: 22px;
	bottom: 20px;
	z-index: 3;
}
#navi .changePictureList li{
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	border: 2px solid #fff;
	border-color: hsla(0,0%,100%,0.3);
	border-radius: 10px;
	overflow: hidden;
	background: rgba(0,0,0,0.4);
	opacity: 1;
}
#navi .changePictureList li:hover{
	cursor: pointer;
	background: hsla(0,0%,100%,0.4);
}
.navi_circleActive{
	cursor: pointer;
	background: hsla(0,0%,100%,0.4) !important;
}

#navi .box320{
	height: 170px;
}
#navi .contain240{
	width: 220px;
	margin: 10px 10px 0 10px;
	background-color: #60574f;
}
#navi .navi_body .box80{
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: transparent;
	text-align: center;
	height: 85px;
	width: 72px;
	margin: 0;
	color: white;
	opacity: 0.7;
}
#navi .navi_body .box80 img{
	margin-top: 20px;
	height: 24px;
	width: 24px;
}
#navi .navi_body .box80 div{
	background-color: transparent;
	font-size: 12px;
}
#navi .navi_body .box80:hover{
	cursor: pointer;
	opacity: 1;
}

/* body */

#body{
	background-color: #999999;
}

#body .big{
	height: 620px;
}
#body .small{
	height: 300px;
}
#body .smaller{
	height: 140px;
}


#body .xiaomi_flashPurchase {
	height: 340px;
}

#body .for_you{
	height: 280px;
}

#body .hot_goods{
	height: 420px;
}

#body .content{
	height: 420px;
}

#body .vedio{
	height: 285px;
}

/* foot */

#foot{
	background-color: #ffffff;
}

#foot .service{
	height: 80px;
}

#foot .foot_navi{
	height: 200px;
}